<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
      <title>Provider</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" type="text/css" href="stylesheets/about.css"/> 
  </head> <!-- end of head -->
  <body>
    <div class="main">
      <div class="bar"></div>
      <div id="header"> 
        <div class="logo">
          <img src="images/wing.png" alt="logo" width="180px" height="80px"/>
        </div>
        <div class="tagline">
          <h3>Global trend portfolio in business and technology.</h3>
        </div>
        <div class="clear"></div>
       </div> <!-- end of header -->
       
       <div class="nav">
        <ul id="menu">
      <li><a href="/product">Product</a></li>
      <li><a href="/">Blog</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact Us</a></li>
        </ul>
        <div class="clear"></div>
       </div>  <!-- end of nav tag -->
       
       <div class="about">
        <div class="data">
        <h2> Promises </h2>
        <h3> Tech knowledge </h3>
        <p><b>Technology</b> is one of the major concern to spread the flag of worship through illustration. learning, implementation, practices and repeating these habits help anyone to grow themselves. In this portal we try to provide best tools description, way of starting or learing programming, gadget design
        etc... We started not with well stuffed platform rightnow but the hard work and regularity of team can make sure that we will go to make great milestone to 
        human mankind in the history. However our team are developing platform so that they can give free knowledge to all over the world so that every aspect of human can get the benefit of learning and upcoming future vision.<br/>

        We provide each blog on business and academic related information to help the people to understand the ongoing market software tools and how can they take advantage  of these tools to help near by community and make space for community growth by making good source of income and innovative environment.
        </p>

        <h3>Business knowledge </h3>
        <p><b>online Business</b> knowledge is quite important now days. Digital marketing , online business are necessary fact rightnow in the every community of the world. so we think to provide the require tools to strat the internet based business by giving proper document necessary to start a business in region wise detial.  
        </p>

        <h3>Textile and Craft News </h3>
        <p><b>Modern and Contemporary</b> wearing style information is also provided in description form so that every aspect of life could know the vriety of wearing style and whats is it mean for them.</p>
       
       </div><!-- end of data class having -->

       </div><!-- end of about class having  -->
       
       <div class="information">
          <img class="container" src="images/profile.jpg" alt="profile" />
       </div><!--end of information div -->
 
      <div class="footer"> 
        <p>Copyright © 2017  Provider <br />
            All Rights Reserved</p>
      </div>
     </div><!--  end of main class  -->  
  
 </body>
</html>
