<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
      <title>Provider</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" type="text/css" href="stylesheets/contact.css"/> 
  </head> <!-- end of head -->
  <body>
  	<div class="main">
  		<div class="bar"></div>
  		<div id="header">	
  			<div class="logo">
  				<img src="images/wing.png" alt="logo" width="180px" height="80px"/>
  			</div>
  			<div class="tagline">
  				<h3>Global trend portfolio in business and technology.</h3>
  			</div>
  			<div class="clear"></div>
  	   </div> <!-- end of header -->

  	   <div class="nav">
  	   	<ul id="menu">
  	   		<li><a href="/product">Product</a></li>
  	   		<li><a href="/">Blog</a></li>
  	   		<li><a href="/about">About</a></li>
  	   		<li><a href="/contact">Contact Us</a></li>
  	   	</ul>
  	   	<div class="clear"></div>
  	   </div>  <!-- end of nav tag -->
      
       <div class="container">
         <form action="/subscribe" method="POST" enctype="multipart">

         <label for="fname">First Name</label>
         <input type="text" id="fname" name="firstname" placeholder="Your name..">

         <label for="lname">Last Name</label>
         <input type="text" id="lname" name="lastname" placeholder="Your last name..">

         <label for="country">Country</label>
         <select id="country" name="country">
         <option value="India">India</option>
         <option value="canada">Canada</option>
         <option value="usa">USA</option>
         </select>

         <label for="subject">Subject</label>
         <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

         <input type="submit" value="Submit">

        </form>
      </div><!--end of container -->  

        <div class="information">
          <img class="container" src="images/profile.jpg" alt="profile" />
          <p><b>Trade:</b>BoseTraders co.</p>
          <p><b>Address:</b>Daulatpur Railway Colony. Q-No-676/H,Jamalpur</p>
          <p><b>City:</b>Munger,BIhar,India</p>
          <p><b>Contact Number:</b>(+91)-8130523363</p>
          <p><b>Email:</b>rbosemonarch@gmail.com</p>
       </div><!--end of information div -->
       
      
       <div class="footer"> 
        <p>Copyright © 2017  Provider <br />
            All Rights Reserved</p>
      </div>

     </div><!-- end of main tag -->
  </body>
</html>  
